<div class="container text-dark p-3 rounded">
  <h1 class="mt-4 mb-4 text-center">Pokémon Selection</h1>
  <div class="form-group my-2">
    <label for="teamSelect">Select Team:</label>
    <select id="teamSelect" class="form-control" [(ngModel)]="selectedTeamId" (change)="selectTeam(selectedTeamId)">
      <option value="" disabled>Select a team</option>
      <option *ngFor="let team of teams" [value]="team._id">{{ team.teamName }}</option>
    </select>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Current Team Members</h3>
      <div *ngIf="selectedTeam" class="team-members">
        <ul class="list-group">
          <li *ngFor="let member of selectedTeam.teamMembers" class="list-group-item d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <img [src]="member.imageUrl" alt="{{member.pokemonName}}" class="img-fluid rounded pokemon-image" style="width: 50px; height: 50px;" />
              <strong>{{ member.pokemonName }}</strong>
            </div>
            <button class="btn btn-danger btn-sm" (click)="removePokemonFromTeam(member.pokemonID)">Remove</button>
          </li>
          <li *ngFor="let i of emptySlots(selectedTeam.teamMembers.length)" class="list-group-item d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center placeholder-div">
              <img src="/src/assets/placeholder.png" alt="Empty Slot" class="pokemon-image" />
              <strong>Empty Slot</strong>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <h3>Pokémon List</h3>
      <div class="form-group my-3">
        <input type="text" id="pokemonSearch" class="form-control" placeholder="Search Pokémon" [(ngModel)]="searchQuery" (input)="filterPokemons()">
      </div>
      <div class="pokemon-list">
        <ul class="list-group">
          <li *ngFor="let pokemon of filteredPokemons" class="list-group-item d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <img [src]="pokemon.imageUrl" alt="{{pokemon.name}}" class="img-fluid rounded pokemon-image" style="width: 50px; height: 50px;" />
              <strong>{{ pokemon.name }}</strong>
            </div>
            <button class="btn btn-primary" (click)="addPokemonToTeam(pokemon)">Add to Team</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
